@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Interphases Pro Mono Trial Regular";
  src: url("./assets/fonts/TT-Interphases-Pro-Trial-Condensed-Regular.woff") format("woff"),
    url("./assets/fonts/TT\ Interphases\ Pro\ Mono\ Trial\ Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: TT Interphases Pro Mono Trial Regular;
}

body {
  box-sizing: border-box;
}


.gradientBackground {
  background: linear-gradient(82.38deg, #03E7A3 -34.57%, #335BE1 97.18%);
}